body 
{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif,"Siyam Rupali","SolaimanLipi";
    background: #FFFFFF;
    background-repeat: repeat-x;
    margin: 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fff4d0 0%, #fff6d9 15%, #fffae8 30%, #fffefa 72%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff4d0), color-stop(15%,#fff6d9), color-stop(30%,#fffae8), color-stop(72%,#fffefa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff4d0 0%,#fff6d9 15%,#fffae8 30%,#fffefa 72%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff4d0 0%,#fff6d9 15%,#fffae8 30%,#fffefa 72%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff4d0 0%,#fff6d9 15%,#fffae8 30%,#fffefa 72%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff4d0 0%,#fff6d9 15%,#fffae8 30%,#fffefa 72%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4d0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}   
.ui-widget
{
    font-size:90%;
}

.MainTitle
{
    font-size:large;
    font-weight:600; 
    background-color:#8faa4a;    
    color:#FFFFFF; 
    padding:0px 10px 0px 10px;   
    font-family:Verdana;
    border-bottom:1px solid Gray;  
    position: fixed !important;
    left:0;
    right:0;
    -webkit-box-shadow: 0 0 .4em rgba(0, 0, 0, 0.7);  
    -moz-box-shadow: 0 0 .4em rgba(0, 0, 0, 0.7); 
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.7);     
    height:43px;
    z-index: 100000 !important;
}
.MainTitle2
{
    font-size:medium;
    font-weight:bolder; 
    background-color:#cccccc;
    background-position: top;
    color:Black; 
    vertical-align:middle;
    padding:7px;
    font-family:verdana,arial,sans-serif;
    text-align:center;
    border-radius: 4px;
    border:solid 1px Gray;
    text-shadow: 1px 1px 5px White;
    -moz-box-shadow: 1px 1px 15px  #999 inset;
    -webkit-box-shadow: 1px 1px 15px  #999 inset;
    box-shadow: 1px 1px 15px  #999 inset;
    min-height:15px;
}
.MainTitle3
{ 
    background-color:#8FAA4A;
    color:#FFFFFF;     
    font-family:Verdana;
    border-bottom:1px solid Gray;
    height:45px;
    padding:0px 20px 0px 10px;
    overflow:hidden;    
}
.Title
{
    background-color:#669933;
    color:White;
    padding:1px 5px 1px 2px;
    font-family: Tahoma Verdana Arial;
    font-size:10pt;
    font-weight:bolder;
    cursor:pointer;
    margin-top:1px;
}
.left-div
{
    padding:70px 0px 30px 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left:210px;
    overflow-y: auto;
    background-color:#DBDBDB;
    background-image: url('../Images/left-shade.png');
    background-position: top; 
    background-repeat: repeat-x;
    width:210px;
    margin-left: -210px;
    webkit-overflow-scroll: touch;
    box-shadow: inset 0 0 1.3em rgba(0, 0, 0, 0.5), 0 0 .7em rgba(0, 0, 0, 0.5); 
}
.DivBody
{	
    margin:0px 5px 20px 230px;
    padding-top:50px;
}
.DivBody a{text-decoration:none;color:Blue;}
.DivBody a:hover{text-decoration:underline;}
.DivBody a:visited{color:Blue;}

.DivMain
{
    padding:15px;
}
.DivBottom
{   text-align: center; 
    padding: 00px 0px 70px 0px;    
    font-size:8pt;    
	border-top:1px solid #ccf072;
    
}
.Panel{
    border-color:#669933;
    border-style:Solid; 
    border-width:2px;    
}
.PanelMini{
    border-color:#D9ECC6;
    border-style:Solid; 
    border-width:2px;
}
.TitleMini
{    
    background-color: #D9ECC6;
    color: Black;
    padding: 1px 5px 1px 5px;
    font-family:  Arial;
    font-size: 10pt;
    font-weight: bolder;
}
.td-header{
    background-color:#D5E7C4;
    font-weight:bolder;
}
.Border{
    border: 1px Solid #999999;
    margin: 5px;
    padding:10px;
    background-color:#FFFFB5;
    
}
.TopSmall{
    background-image: url('../Images/bg1.gif');
    color:#FFFFFF;   
    font-weight:bolder;
}
.BackShade{
    background-image:url('../Images/tool_shade.gif');
}
.FormField{
    font-size: small;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: Black;
}
.SmallFont{
    font-size:small;
}
.watermark
{
    color:Silver;
    font-weight:normal;
}
.LeftPad{
    padding-left:20px;
}
.LeftRightPad{
    padding-left:20px;
    padding-right:20px;
}
.BackgroundMask{
    background-color:Black;
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    filter:alpha(opacity=40); 
    -moz-opacity: 0.4; 
    opacity: 0.4;
}

/* ResizableControl */

.frameImage
{
	width:130px;
	height:65px;
	overflow:hidden;
	float:left;
	padding:3px;
}

.frameText
{
	width:100px;
	height:100px;
	overflow:auto;
	float:left;
	background-color:#ffffff;
	border-style:solid;
	border-width:2px;
	border-color:Gray;
	font-family:Helvetica;
	line-height:normal;
}

.handleImage
{
	width:15px;
	height:16px;
	background-image:url(../images/HandleHand.png);
	overflow:hidden;
	cursor:se-resize;
}

.handleText
{
	width:16px;
	height:16px;
	background-image:url(../images/HandleGrip.png);
	overflow:hidden;
	cursor:se-resize;
}

.resizingImage
{
	padding:0px;
	border-style:solid;
	border-width:3px;
	border-color:#B4D35D;
}

.resizingText
{
	padding:0px;
	border-style:solid;
	border-width:2px;
	border-color:#7391BA;
}

.frameText
{
	width:100px;
	height:100px;
	overflow:auto;
	float:left;
	background-color:#ffffff;
	border-style:solid;
	border-width:2px;
	border-color:Gray;
	font-family:Helvetica;
	line-height:normal;	
}
.Grid
{
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4);
    margin-top:10px;
}
.Grid tbody tr th
{
    border: solid 1px Silver;
    border-top: solid 1px #6B696B;
    background-color:#6B696B;
    background-image: url('../Images/bg8.gif');   
    background-position:bottom; 
    background-repeat:repeat-x;
}
.Grid th, .Grid th a
{
	font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
	font-stretch: Condensed;
}
.Grid td
{
    border: solid 1px Silver; 
    padding:4px;
}
.Grid a
{
    text-decoration:none;
    color:Blue;
}
.Grid a:hover
{
    text-decoration:underline;
}
.Grid tr:hover
{
    background-color:#EEEEEE !important;
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.GridEdit
{
    background-color:#FFFFB5;
}
.TDTR
{
}
.TDTR:hover
{
    background-color:#e5e5e5 !important;
}
.SLCOL
{
    background-color:#6B696B;   
    color:White;
    text-align:center;
    font-size:x-large;
    font-family:'Arial Narrow';
}
.SLCOL1
{
    background-color:#C5E2FD !important;   
    color:White;
    text-align:center;
    font-size:x-large;
    font-family:'Arial Narrow';
}
.MoveIcon
{
    cursor:move;
}
.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}
.AutoCompleteMenu{
    font-size:small;
    border: solid 1px #CCCCCC;
    padding:2px;
    margin:3px;
}
.Button{
    font-weight:bolder;
    padding:4px 10px 4px 10px;
    text-decoration:none;
    border-radius: 4px;
    border: solid 1px #AAAAAA;
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    color: #555555;
}
.Button:hover
{    
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);  
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    border: solid 1px #999999;
    color: Black;
}
.button1
{
	padding:3px;
    text-decoration:none;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display:inline-block;
    border:1px solid white;
    background:white;
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.button1:hover
{    
	border:1px solid silver;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);  
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.MainMenu, .ctl00_MainMenu_2, .ctl00_MainMenu_0
{  
    background:#FAFAD2;
    border:1px solid #999;    
    font-weight:500;
    font-family:Verdana;
    font-size:12px;   
}
.MenuMain
{    
    color:Black;
    padding: 2px 5px 2px 5px;    
    margin:0px;    
    
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}
.MenuMain_Hover, .MenuMain:hover
{
    background-color:#F9DE76;
    background-image:none; 
    margin:0px;     
    text-decoration:none;
    cursor:pointer;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
}
.MenuSub
{
    font-weight:bold;
    background-color:#FAFAD2;
    padding: 6px 7px 6px 7px;      
    height:30px;        
    color:Black; 
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}
.MenuSub_Hover, .MenuSub:hover
{
    background-color:#F9DE76; 
    text-decoration:none;
    border-bottom:1px solid silver;
    border-top:1px dotted silver;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2); 
}
.Center
{
    text-align:center;
    font-size: small;
    font-weight: 700;
}
.TextBoxBig
{
	border:solid 1px #CCDCB2;
	background-color:White;
}
.TextBoxBig:focus
{
	border:solid 1px Gray;
	background-color:Yellow;
}
.Highlight
{
    background-color:Yellow;
}
.PagerStyle
{
    
}
.PagerStyle td
{
    background-color:#F4F4F4; 
    background-position:top;   
    margin:0px;
    padding:0px;   
    border:none;     
    font-family:Courier;  
          
}
.PagerStyle td td
{
    border:solid 1px none;
}
.PagerStyle a:link
{    
    font-size:10pt;
    padding-left:2px;
    padding-right:2px;
    border: solid 1px #dddddd;
    text-decoration:none;  
    border-radius: 4px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    color:#55555;
}
.PagerStyle a:hover
{    
    background-color:White;
    text-decoration:none;       
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	border: solid 1px #999999;
    border-radius: 4px;   
    color:Black;
}
.PagerStyle span
{    
    font-size:13pt;
    background-color:#6B696B;
    color:white;
    padding-left:3px;
    padding-right:3px;
    font-weight:bolder;
    border: solid 2px White;  
    border-radius: 4px;   
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	border: solid 1px #999999;
	margin:0px 2px 0px 2px;
}
.PagerStyle1 td
{
    background-color:#f0f0f0;
    color:Black;
    margin:0px;
    padding:0px;    
    border:none; 
    text-decoration:none;
}
.PagerStyle1 a:link
{    
    font-size:10pt;
    padding-left:2px;
    padding-right:2px;
    border: solid 1px #f0f0f0;
    color:#555555;
    border-radius:4px;
    text-decoration:none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.PagerStyle1 a:hover
{    
    background-color:White;
    text-decoration:none;    
    border: solid 1px Silver;
    color:Black;    
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	border: solid 1px #999999;
}
.PagerStyle1 span
{    
    font-size:12pt;
    background:#2F9AFF url("../Images/next-sprite.png") 0px -200px repeat-x;
    color:White;
    padding: 1px 4px 1px 4px;
    font-weight:bolder;
    border: solid 1px #999999;
    margin:0px 3px 0px 3px;
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border-radius:4px;
}
.PagerStyle2
{
    
}
.PagerStyle2 td
{
    background-color:#F4F4F4; 
    background-position:top;   
    margin:0px !important;
    padding:1px !important;   
    border:none;     
    font-family:Courier;  
          
}
.PagerStyle2 td td
{
    border:solid 1px none;
}
.PagerStyle2 a:link
{    
    font-size:10pt;
    padding:3px 7px;
    border: solid 1px #dddddd;
    text-decoration:none;  
    border-radius: 4px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    color:#55555;
}
.PagerStyle2 a:hover
{    
    background-color:White;
    text-decoration:none;       
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	border: solid 1px #999999;
    border-radius: 4px;   
    color:Black;
}
.PagerStyle2 span
{    
    font-size:13pt;
    background-color:#6B696B;
    color:white;
    padding:2px 6px;
    font-weight:bolder;
    border: solid 1px White;  
    border-radius: 4px;   
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	border: solid 1px #999999;
	margin:0px 2px 0px 2px;
}
.Highlight
{
    background-color:Yellow;
}

input, select, textarea, .input
{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 5px;
  margin: 2px 1px 2px 0px;
  border: 1px solid #cccccc;
  border-radius:4px;
  min-height:16px;
}
input[type=text], input[type=password], select, textarea, input[type-radio], input[type=checkbox], .input
{
    box-shadow:inset 0 0 3px rgba(81, 203, 238, 0.5);
}
input:focus, select:focus, textarea:focus, .input:focus
{
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
	border: 1px solid #999999;
}
input:enabled:hover, select:enabled:hover, textarea:enabled:hover, .input:hover
{
    border: 1px solid #999999;
    color: Black !important;
}
input[type=button], input[type=submit], button
{ 
    font-size:90%;
    color: #555555;
    font-family:Tahoma,"Arial","Siyam Rupali","SolaimanLipi";
    font-weight:bold;
    border: solid 1px #AAAAAA;
    cursor:pointer;
    padding:5px 10px 5px 10px;
    min-width:70px;
    background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #EBE8EB),
	    color-stop(1, #FAF7FA)
    );
    background-image: -o-linear-gradient(bottom, #EBE8EB 0%, #FAF7FA 100%);
    background-image: -moz-linear-gradient(bottom, #EBE8EB 0%, #FAF7FA 100%);
    background-image: -webkit-linear-gradient(bottom, #EBE8EB 0%, #FAF7FA 100%);
    background-image: -ms-linear-gradient(bottom, #EBE8EB 0%, #FAF7FA 100%);
    background-image: linear-gradient(to bottom, #EBE8EB 0%, #FAF7FA 100%);
}
input[type=button]:focus, input[type=submit]:focus, button:focus
{
    background-color: #f1f1f1;
    color: Black !important;
}
input[type=button]:enabled:hover, input[type=submit]:enabled:hover, button:hover
{
    box-shadow: 0 0 6px rgba(81, 203, 238, 1);
    border: solid 1px #999999;
    color: Black;
}
textarea 
{
    font-family:Tahoma,"Arial","Siyam Rupali","SolaimanLipi";
}
input:disabled, textarea:disabled, select:disabled
{
	background:#B1CEED;
	border:1px solid #AAAAAA;
	color:Gray;
	cursor:default;
}
input[type=radio]
{
    margin-top:10px;
	margin-left:10px;	
	border:none;
}
input[type=checkbox]
{
	border:none;
    margin-right:5px;
    vertical-align:bottom;
}


.ViewTitleSelected
{
    background-image: url('../Images/Shade7.jpg') !important;
    background-repeat:repeat-x;
    color:#551A8B;  
    padding:8px 20px 8px 20px !important;
    background-color: #EEE8AA;
    font-weight:bolder;
    margin:0px !important;
    border:none !important;
    font-family:Tahoma;
    cursor:pointer;
    border-radius:6px 6px 0px 0px !important;
}

.ViewTitle
{
    background-repeat:repeat-x;
    color:#551A8B;  
    padding:8px 20px 8px 20px !important;
    background-color: #EEE8AA;
    font-weight:bolder;
    font-size:9pt !important;
    margin:0px !important;
    border:none !important;
    font-family:Tahoma;
    cursor:pointer;
}

.ViewPanel
{
    background-color:#FFCC66;
    background-image: url('../Images/Shade4.jpg');
    background-repeat:repeat-x;
    color:Black;  
    padding:15px;
    width:510px;
    margin:0px !important;
    border-radius:4px 4px 4px 4px;
}
.Panel2
{
    background-color: #DBDBDB; 
    padding: 2px; 
    background-image: url('../Images/header-bg.png');
    background-position: top; 
    border: solid 1px silver; 
    background-repeat: repeat-x;
}





.NewsTab .ajax__tab_header 
{
    color: Gray;
    font-size: 13px;
    font-weight: bold;
    margin-left: 25px;  
}
.NewsTab .ajax__tab_outer
{   
   
}
.NewsTab .ajax__tab_inner
{
    padding: 7px 12px 7px 12px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 0px;  
    background-color:#FAFAD2;  
    border-radius: 8px 8px 0px 0px;    
    
}
.NewsTab .ajax__tab_hover .ajax__tab_outer
{
    background-color: Orange;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;    
    
}
.NewsTab .ajax__tab_hover .ajax__tab_inner
{
    background-color: #FAFAD2;
    cursor:pointer;     
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;   
    -webkit-box-shadow: 0 0 .8em rgba(0, 0, 0, .7);  
    -moz-box-shadow: 0 0 .8em rgba(0, 0, 0, .7); 
    box-shadow: 0 0 .8em rgba(0, 0, 0, .7); 
    
}
.NewsTab .ajax__tab_active .ajax__tab_outer
{
    background-color: #FAFAD2;  
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;         
}
.NewsTab .ajax__tab_active .ajax__tab_inner
{
    background-color: #ffa200;    
    color:Black;    
    background-image:none;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

.NewsTab .ajax__tab_body
{
    background-color:White;        
    padding:20px;    
    border: solid 4px #FFA200; 
    margin-bottom:20px;
   
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height:200px;
}
/*AutoComplete flyout */

.tabs .ajax__tab_inner a
{
	outline:none;	
	color:Navy;
}
.tabs .ajax__tab_header 
{
    color: Gray;
    font-weight: bold;
    margin-left: 20px;    
}
.tabs .ajax__tab_outer
{
    background-color: White;     
    border-radius:8px 8px 0px 0px;
}
.tabs .ajax__tab_inner
{
    padding: 7px 12px 7px 12px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 0px;
    background-color: #eee;
    border-radius:8px 8px 0px 0px;
}
.tabs .ajax__tab_hover .ajax__tab_outer
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);   
}
.tabs .ajax__tab_hover .ajax__tab_inner
{
    cursor:pointer;       
}
.tabs .ajax__tab_active .ajax__tab_outer
{
    background-color: White;           
}
.tabs .ajax__tab_active .ajax__tab_inner
{
    background-color: #ccc;     
    background-image:none;
    box-shadow: 1px 1px 15px  #999 inset; 
    border:1px solid Gray;
    border-bottom:none;
    color:Black;    
    text-shadow: 1px 1px 5px White;
}
.tabs .ajax__tab_active a
{
    color:Black;
}
.tabs .ajax__tab_body
{
    background-color:White;        
    padding:15px;    
    margin:0 10px 10px 10px;
    border:1px solid Gray;
    border-radius:4px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2); 
}

.tabVertical .ajax__tab_inner a
{
	outline:none;	
	color:Navy;
    text-align:right;
}
.tabVertical .ajax__tab_header_verticalleft
{
    padding-top:40px; 
}
.tabVertical .ajax__tab_header 
{
    color: Gray;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;    
}
.tabVertical .ajax__tab_outer
{  
    border-radius:16px 0 0px 16px;
}
.tabVertical .ajax__tab_inner
{
    padding: 6px 10px 6px 10px;
    margin-right: 0px;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    border-radius:16px 0 0px 16px;
    white-space:nowrap;
    background:#efefef;

}
.tabVertical .ajax__tab_hover .ajax__tab_outer
{
     
}
.tabVertical .ajax__tab_inner:hover{
    background: #DDDDDD;
    text-shadow:1px 0 rgba(255,255,255,.5);
}
.tabVertical .ajax__tab_hover .ajax__tab_inner
{
    cursor:pointer;    
}
.tabVertical .ajax__tab_active .ajax__tab_outer
{     
}
.tabVertical .ajax__tab_active .ajax__tab_inner
{
    background-color: silver;
    text-shadow:1px 0 rgba(255,255,255,.5);
}
.tabVertical .ajax__tab_active a
{
    color:Black;
}
.tabVertical .ajax__tab_body_verticalleft
{    
    border:2px solid Silver;
    background:White;
    border-radius:8px;
    box-shadow: 2px 2px .7em rgba(0, 0, 0, 0.2); 
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height:350px;
}
.tabVertical .ajax__tab_body_verticalleft h4 {
    background-color: #eee;
    padding:4px 10px 4px 10px;
    margin-top:0;
    margin-bottom:0;
    color:Black;
    font-size:large;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight:600;
    text-align:center;
    text-shadow: 1px 1px 5px White;
    box-shadow: 1px 1px 15px  #999 inset;
    border-bottom:2px solid Silver;
    border-radius:3px 3px 0 0;
    
}
.tabVertical .ajax__tab_body_verticalleft .tab-body
{
    padding:10px;
}
.autocomplete_completionListElement 
{      
    background-color : #ffff99;
    color : Black;        
    border : solid 1px silver;        
    cursor : 'default';
    overflow : auto;
    width:600px;        
    text-align : left; 
    list-style-type : none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
    background-color: #4C444E;
    color: white;
    padding: 1px;
    width:600px;
    border : solid 1px #4C444E;        
    font-weight:bold;
}

/* AutoComplete item */

.autocomplete_listItem 
{
    background-color : #ffff99;
    color : Black;
    padding : 1px;
    width:600px;         
}
.Link,.link
{
	text-decoration:none;
}
.Link:hover,.link:hover
{
	text-decoration:underline;
}
.username, .username a
{
	font-family: Verdana, Arial;
	font-weight:bold;
	color:White;
	font-size:10pt;
	text-shadow: -1px -1px 2px rgb(11, 71, 55);
	text-decoration:none;
}
.username:hover, .username a:hover
{
	text-decoration:underline;
}
.roles
{
	font-size:7pt;
	color:Silver;	
	font-weight:bold;
	font-family: Verdana, Arial;
	font-stretch: Condensed;
}
.bold
{
    font-weight:bold;
}
.centertext
{
    text-align:center;
}
.bigbutton
{
    -webkit-box-shadow: 0 0 .7em rgba(0, 0, 0, 0.4);  
    -moz-box-shadow: 0 0 .7em rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.4); 
    padding:10px;
    border-radius:8px;
    min-height:140px;
}
.bigbutton:hover
{
    -webkit-box-shadow: 0 0 .7em rgba(0, 0, 0, 1);  
    -moz-box-shadow: 0 0 .7em rgba(0, 0, 0, 1); 
    box-shadow: 0 0 0.7em rgba(0, 0, 0, 1); 
}
.Shadow
{
    -webkit-box-shadow: 0 0 .7em rgba(0, 0, 0, 0.4);  
    -moz-box-shadow: 0 0 .7em rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.4); 
        /*-webkit-box-shadow: 0 0 .4em rgba(0, 0, 0, 0.4);  
    -moz-box-shadow: 0 0 .4em rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4);*/ 
}
.box-shadow
{
    box-shadow-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.box-shadow-out
{
    box-shadow-moz-box-shadow:    0 0 10px #000000;
    -webkit-box-shadow:  0 0 10px #000000;
    box-shadow:          0 0 10px #000000;
}
#tooltip{

	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:2px 5px;
	color:#333;
	display:none;
	}	
	
.imagebutton
{
    width:80px;
    height:80px;
    border:2px solid silver;
    padding:4px;
    margin:2px;
    border-radius:12px;
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
}
.imagebutton:hover
{
    border:2px solid #551A99;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
		  inset 0 0 5px rgba(0, 0, 0, 0.5); 
}

.group {
    border:1px solid Gray;
    background:White;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    box-shadow: 0 0 .5em rgba(0, 0, 0, 0.3); 
    margin-bottom: 20px;
    padding-bottom: 10px;    
}

.group h1 {
    background-color: #ccc;
    padding:5px 10px 5px 10px;
    margin-top:0;
    margin-bottom:0;
    color:Black;
    font-size:large;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight:600;
    text-align:left;
    text-shadow: 1px 1px 5px White;
    -moz-box-shadow: 1px 1px 15px  #999 inset;
    -webkit-box-shadow: 1px 1px 15px  #999 inset;
    box-shadow: 1px 1px 15px  #999 inset;
    border-bottom:1px solid Gray;
    text-align:center;
    border-radius:4px 4px 0 0;

}

.group h2 {
    background-color: #ccc;
    padding:5px 10px 5px 10px;
    margin-top:0;
    margin-bottom:0;
    color:Black;
    font-size:x-large;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight:600;
    text-align:left;
    text-shadow: 1px 1px 5px White;
    -moz-box-shadow: 1px 1px 15px  #999 inset;
    -webkit-box-shadow: 1px 1px 15px  #999 inset;
    box-shadow: 1px 1px 15px  #999 inset;
    border-bottom:1px solid Gray;
    border-radius:3px 3px 0 0;

}
.group h3
{
    font-size:12pt;
    padding-left:10px;
    margin-bottom:-5px;
}
.group h4 {
    background-color: #eee;
    padding:5px 10px 5px 10px;
    margin-top:0;
    margin-bottom:0;
    color:Black;
    font-size:large;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight:700;
    text-align:left;
    text-shadow: 1px 1px 5px White;
    -moz-box-shadow: 1px 1px 15px  #999 inset;
    -webkit-box-shadow: 1px 1px 15px  #999 inset;
    box-shadow: 1px 1px 15px  #999 inset;
    border-bottom:1px solid Gray;
    border-radius:3px 3px 0 0;

}
.group h6
{
    padding:0px 10px 0px 10px;
}
.time-small
{
	color:Gray;
	font-size:smaller;
}
.time-small-new
{
	color:Black;
	font-size:smaller;
	background:yellow;
	padding:0px 3px 0px 3px;
	border-radius:4px;
}
.ui-datepicker
{
    box-shadow: 0 0 1em rgba(0, 0, 0, 1), inset 0 0 .8em rgba(141, 141, 141, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select {
        padding:1px !important;
    }
.doc
{
    border: 1px solid #cccccc;
    box-shadow: .1em .1em .1em rgba(0, 0, 0, 0.3);
    width: 680px !important;
    margin-bottom:10px;
}

.div-minute
{
    text-align: justify;    
    padding: 10px 20px 10px 20px;
    width: 650px !important;
}
.div-minute table{ border-collapse:collapse; margin:10px 0px 10px 0px;}
.div-minute table td{ padding:5px; vertical-align:top;}
code {
    font-family: courier, monospace;
    background-color: #eeeeee;
    padding-left: 2px;
    padding-right: 2px;
    border: #c0c0c0 1px solid;
    border-radius:4px;
}
.applogo img
{
    height:40px;
    border:none;
}
.ProfilePic img
{
    height:36px;
    padding:1px;
    border: 1px solid black;
    background:white;
}
.ProfilePic img:hover
{
    padding:1px;
    border: 1px solid black;
    background:yellow;
}

.treemenu
{
	direction:ltr;
	font-family:Verdana;	
	padding: 10px 0 10px 10px;
    margin:0;
}
.treemenu div
{
    margin-bottom:20px;
}
.tree-node
{
	border-radius:8px 0 0 8px;
	padding:3px 0px 3px 3px;
	-webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
    color:Black;
    font-size:small;
    font-family:Verdana;	
}
.tree-node-hover
{
	border-radius:4px;
	padding: 0 3px 0px 3px;
    color:Black;
    font-size:small;
    background:#EEAA50;
    text-decoration:none !important;
}
.tree-node-selected 
{
	border-radius:4px;
	padding:3px;
    background:#336600;
    color:White;
}
.tree-node-parent
{    
    font-size:10pt;
    font-weight:bold;
    background:silver;
    width:200px;
    padding-left:7px;
    background:silver;
}
.AsyncFileUploadField input{width:100%!important;}
.hidden{ display:none;}
.ac_results{box-shadow: 0 1px .5em rgba(0, 0, 0, .5);}
.time-small
{
	color:Gray;
	font-size:smaller;
}
.time-small-new
{
	color:Black;
	font-size:smaller;
	background:yellow;
	padding:0px 3px 0px 3px;
	border-radius:4px;
}
.div-error
{
    background:yellow;
    font-size:medium;
    font-weight:bold;
    padding:7px;
    border-radius:4px;
    border:1px solid silver;
    box-shadow:1px 1px 3px silver;
    text-align:center;
}
.table-noborder td{ border:none;}
.table-noborder tr:hover{background:none !important;}
.ui-widget
{
    font-size:90%;
    outline:none;
}
.ui-datepicker
{
    box-shadow: 0 0 1em rgba(0, 0, 0, 1), inset 0 0 .8em rgba(141, 141, 141, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
.location-path
{
	display:inline-block;
}
.hide
{
    display: none;
}
.TransparentGrayBackground {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: black;
    filter: alpha(opacity=50);
    opacity: 0.7;
    z-index: 1000000;
}

.LoadingImage {
    z-index: 1000001;
    box-shadow: 0 0 2px 2px Gray,0 0 100px 10px White;
    border-radius: 16px;
}
.nowrap{white-space:nowrap}
.Date {width:90px !important;}
.Date-DOB {width:90px !important;}
.pointer {cursor:pointer}
.attachment-list {display:flex !important;padding:5px}
.AttachmentThumb {margin-right:4px; border:1px solid silver}
.ModalPanel 
{
    border:4px solid #8faa4a;
}
.ModalPanel1
{
    border:4px solid green;
}
.Panel1
{
    background-color: #DBDBDB; 
    padding: 2px; 
    background-image: url('../Images/header-bg.png');
    background-position: top; 
    border: solid 1px silver; 
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 0 .4em rgba(0, 0, 0, 0.4);  
    -moz-box-shadow: 0 0 .4em rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color='#000000');
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.PanelMini{
    border-color:#D9ECC6;
    border-style:Solid; 
    border-width:2px;
}
.timeago{color:#999;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;font-size: 11px;}
