<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="." allowOverride="false">
    <appSettings>
      <add key="CDN" value="https://intraweb.tblbd.com/cdn" />
      <add key="HOME" value="https://intraweb.tblbd.com" />
      <add key="EmailType" value="EXCHANGE" />
      <add key="ExchangeUrl" value="https://mail.tblbd.com/ews/Exchange.asmx" />
      <add key="ExchangeUserName" value="noreply" />
      <add key="ExchangeUserPassword" value="ITAdmin#069" />
      <add key="NoImageFile" value="d:\WWW\NoFace.jpg" />
      <add key="ApplicationID" value="34" />
      <add key="AttachmentDownloadCacheSecond" value="300" />
      <add key="TblMailServer" value="172.22.1.118" />
      <add key="TblMailServerPort" value="25" />
      <add key="TblEmailName" value="Administrator" />
      <add key="TblUserName" value="noreply" />
      <add key="TblPassword" value="itadmin;123" />
      <add key="TblEmailFrom" value="noreply@trustbanklimited.com" />
      <add key="MailBCC" value="ashik.email@gmail.com" />
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
      <add key="MaxFileSizePerPageKB" value="300" />
      <add key="AttachmentDownloadCacheSecond" value="300" />
    </appSettings>
    
    <connectionStrings>
      <add name="TblUserDBConnectionString" connectionString="Data Source=172.20.1.70;Initial Catalog=TblUserDB;Persist Security Info=True;User ID=ituser;Password=Fsbank069" providerName="System.Data.SqlClient" />
      <add name="PaymentsDBConnectionString" connectionString="Data Source=172.20.1.70;Initial Catalog=PaymentsDB;Persist Security Info=True;User ID=ituser;Password=Fsbank069" providerName="System.Data.SqlClient" />
      <add name="ServiceCubeConnectionString" connectionString="Data Source=172.20.1.70;Initial Catalog=ServiceCube;Persist Security Info=True;User ID=ituser;Password=Fsbank069" providerName="System.Data.SqlClient" />
      <add name="ReportConnectionString" connectionString="Data Source=172.22.1.225;Initial Catalog=Report;Persist Security Info=True;User ID=reportuser;Password=Fsbank069;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="3600" />
      <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="Static">
        <controls>
          <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        </controls>
      </pages>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>